body {
    padding: 0;
}

.wrapper-main {
    position: relative;
    width: 100%;
    /*width: 320px;*/
    font-family: 'Lato', sans-serif;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.navigation {
    width: 100%;
    height: 37px;
    background: #373C3F;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__text-navigation {
    padding-left: 18px;
    color: #E4E5E5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.1px;
}

.but-navicon {
    background: #202529;
    width: 41px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navigation__nav-menu span,
.navigation__nav-menu span::before,
.navigation__nav-menu span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -8px;
    width: 16px;
    height: 2px;
    background-color: white;
}

.navigation__nav-menu span::before,
.navigation__nav-menu span::after {
    content: '';
    display: block;
    transition: 0.2s;
}

.navigation__nav-menu span::before {
    transform: translateY(-5px);
}

.navigation__nav-menu span::after {
    transform: translateY(4px);
}

.nav-menu_active span {
    height: 0;
}

.nav-menu_active span:before {
    transform: rotate(45deg);
}

.nav-menu_active span:after {
    transform: rotate(-45deg);
}

.menu-nav {
    background-color: #FAFAFA;
    width: 182px;
    position: absolute;
    flex-direction: column;
    right: 0;
    display: none;
    transition: 0.9s;
}

.menu-nav_active {
    display: flex;
    position: absolute;
    top: 37px;

}

.menu-nav-link {
    text-decoration: none;
    border: 1px solid #F3F3F3;
    color: #757575;
    padding: 6px;
    font-size: 10px;
}

.menu-nav-link:hover {
    background-color: #F5F5F5;
}

.block-images__main-images {
    background: url("../img/main_foto.png");
    background-size: cover;
    width: 100%;
    height: 169px;
    font-size: 16px;
    color: white;
    padding-bottom: 4px;
}

.block-images__main-images p,
.main-images-text-webSite {
    padding-left: 20px;
    text-decoration: none;
    /*font-weight: bold;*/
    letter-spacing: 0.2px;
}

.main-images-text-one {
    margin-top: 0px;
    padding-top: 14px;
    margin-bottom: -12px;
}

.main-images-text-two {
    margin-bottom: 5px;
}

.main-images-text-webSite {
    color: #A6D6E0;
    font-size: 14px;
}

.block-menu {
    width: 100%;
    font-size: 21px;
}

.img-height {
    display: flex;
    align-items: center;
    height: 75px;
    margin-top: 4px;
}

.menu-content {
    color: #3F4043;
}

.block-menu-pizza {
    background: url("../img/Pizza Delivery.png");
    background-position-y: 96%;
    background-size: 111%;
    background-position-x: 200%;
}

.block-menu-ua_ux_salads {
    background: url("../img/UA_UX Salads.png");
    margin-top: 2px;
    background-position-y: 95%;
    background-size: 83%;
}

.block-menu-desserts {
    background: url("../img/Desserts.png");
    margin-top: 1px;
    background-position-y: 15%;
    background-size: 80%;
}

.text-block-menu {
    margin: 0 auto;
    color: #ffffff;
    padding-bottom: 4px;
    padding-left: 3px;
    letter-spacing: -0.3px;
}

.ua_ux_salads-text {
    padding-bottom: 0px;
    padding-left: 24px;
    letter-spacing: -0.2px;
}

.block-menu-container {
    width: 71px;
    height: 75px;
    background-color: #ACD8AD;
    position: relative;
}

.block-menu-container:before {
    content: '\003E';
    color: white;
    position: absolute;
    top: 26%;
    left: 39%;
    font-size: 30px;
}

.desserts-text {
    letter-spacing: -0.2px;
    padding-left: 0px;
}

.menu-ullamcorper {
    padding-left: 8px;
    padding-bottom: 4px;
}

.menu-ullamcorper-header {
    padding-top: 22px;
    text-transform: uppercase;
    color: #3F4043;
    letter-spacing: 2.5px;
    font-size: 16px;
    font-weight: bold;
}

.menu-ullamcorper-paragraph {
    font-size: 10px;
}

.menu-tincidunt-mauris,
.menu-tincidunt-mauris-two-color {
    background-color: #3F4043;
    color: #ACD8AD;
    text-transform: uppercase;
    padding: 7px 7px 7px 0px;
    letter-spacing: 0.6px;
    font-size: 19px;
}

.menu-tincidunt-mauris-two-color {
    background-color: #ACD8AD;
    color: #ffffff;
}

.id-hendrerit-velit {
    padding-left: 17px;
    padding-bottom: 9px;
}

.id-hendrerit-velit-header {
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin-top: 15px;
}

.id-hendrerit-velit-header-list {
    text-transform: none;
    padding-left: 1px;
    font-size: 15px;
    list-style: none;
}

.id-hendrerit-velit-header-list-settings:before {
    content: '';
    display: inline-block;
    height: 3px;
    width: 3px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #000;
    margin-right: 3px;
    position: absolute;
    top: 9px;

}

.id-hendrerit-velit-header-list-settings {
    position: relative;
}

.id-hendrerit-velit-header-list-settings:nth-child(2) {
    margin-top: -1.9px;
}

.id-hendrerit-velit-header-list-settings:nth-child(3) {
    margin-top: -2.5px;
}

.id-hendrerit-velit-header-list-settings-content {
    font-size: 9px;
    margin-top: 5px;
    letter-spacing: 0.2px;
    font-weight: bold;
    margin-bottom: 6px;
    word-spacing: -1.1px;
}

.id-hendrerit-velit-header-list-settings-price {
    display: flex;
    justify-content: space-between;
    padding-left: 5.2px;
    padding-top: 0.7px;
    letter-spacing: -0.6px;

}

.menu-span-price {
    padding-right: 17px;
    color: #3F4043;
    font-weight: bold;
}

.price {
    margin-left: auto;
}

.id-hendrerit-velit-header.two {
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin-top: 13px;
}

.two-menu {
    padding-top: 8px;
    padding-left: 18px;
    margin-top: 6.6px;
    margin-left: -17px;
}

.pharetra {
    padding-top: 3.2px;
}

.footer {
    background-color: #ACD8AD;
    color: white;
    font-size: 14px;
    height: 54px;
    display: flex;
    justify-content: center;
    margin-top: 22.2px;
    letter-spacing: -1.5px;
    word-spacing: 6.9px;

}

.footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

@media (min-width: 640px) {
    .navigation {
        height: 83px;
    }

    .but-navicon {
        width: 70px;
    }

    .navigation__nav-menu span,
    .navigation__nav-menu span::before,
    .navigation__nav-menu span::after {
        position: absolute;
        margin-left: -16px;
        width: 32px;
        height: 3px;
        background-color: white;
    }

    .nav-menu_active span {
        height: 0;
    }

    .menu-nav_active {
        top: 84px;
    }

    .block-menu-container:before {
        top: 37%;
    }

    .block-menu-desserts {
        background-size: 90%;
    }

    .navigation__text-navigation,
    .block-images__main-images,
    .main-images-text-webSite,
    .block-menu,
    .menu-ullamcorper-header,
    .menu-tincidunt-mauris,
    .id-hendrerit-velit-header,
    .id-hendrerit-velit-header-list,
    .two-menu {
        font-size: 27px;
    }

    .id-hendrerit-velit-header-list-settings-content,
    .footer-content {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .id-hendrerit-velit-header-list-settings:before {
        height: 5px;
        width: 5px;
        top: 18px;
    }

    .id-hendrerit-velit-header-list-settings-price {
        padding-left: 12px;
    }

    .menu-ullamcorper-paragraph {

        font-size: 13px;
    }

    .block-images__main-images {
        height: 346px;
    }

    .img-height,
    .block-menu-container {
        height: 150px;
    }

    .footer {
        height: 97px;
    }
}

@media (min-width: 980px) {
    .navigation {
        height: 83px;
    }

    .block-images__main-images {
        height: 530px;
    }

    .main-images-text-two {
        margin-top: 20px;
    }

    .main-images-text-one {
        padding-top: 46px;
    }

    .block-images__main-images p, .main-images-text-webSite {

        padding-left: 50px;
    }

    .block-images__main-images {
        font-size: 54px;
    }

    .block-menu {
        font-size: 38px;
    }

    .navigation__text-navigation,
    .main-images-text-webSite,
    .menu-ullamcorper-header,
    .menu-tincidunt-mauris,
    .id-hendrerit-velit-header,
    .id-hendrerit-velit-header-list,
    .two-menu {
        font-size: 22px;
    }

    .id-hendrerit-velit-header-list-settings-content,
    .footer-content {
        letter-spacing: -1px;
    }

    .columns-menu {
        display: flex;
    }

    .id-hendrerit-velit {
        flex-grow: 1;
    }

    .block-menu {
        display: flex;
        margin-top: 6px;
    }

    .block-menu-container {
        display: none;
    }

    .img-height {
        height: 323px;
        width: 100%;
    }

    .block-menu-pizza,
    .block-menu-ua_ux_salads,
    .block-menu-desserts {
        background-position-y: 0;
        background-position-x: 0;
        background-size: 100%;
        margin-top: 0;
    }

    .logo-pizza {
        background: url("../img/logo_pizza.png") no-repeat;
        width: 104px;
        height: 83px;
        background-position-x: 0;
    }

    .navigation__text-navigation,
    .but-navicon {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .menu-nav {
        display: flex;
        background-color: #373C3F;
        flex-direction: row;
        width: auto;
        position: relative;
    }

    .menu-nav-link {
        text-transform: uppercase;
        border: 0 solid #373C3F;
        padding-bottom: 11px;
        padding-top: 11px;
        font-size: 15px;
        padding-left: 35px;
        color: #8B8E8F;

    }

}

@media (min-width: 1200px) {
    .navigation {
        height: 97px;
    }

    .block-images__main-images {
        height: 649px;
    }

    .main-images-text-two {
        margin-top: 20px;
    }

    .main-images-text-one {
        padding-top: 54px;
    }

    .block-images__main-images p, .main-images-text-webSite {

        padding-left: 50px;
    }

    .block-images__main-images {
        font-size: 60px;
    }

    .block-menu {
        font-size: 40px;
    }

    .navigation__text-navigation,
    .main-images-text-webSite,
    .menu-ullamcorper-header,
    .menu-tincidunt-mauris,
    .id-hendrerit-velit-header,
    .id-hendrerit-velit-header-list,
    .two-menu {
        font-size: 26px;
    }

    .id-hendrerit-velit-header-list-settings-content,
    .footer-content {
        letter-spacing: -1px;
    }

    .columns-menu {
        display: flex;
    }

    .id-hendrerit-velit {
        flex-grow: 1;
    }

    .block-menu {
        display: flex;
        margin-top: 6px;
    }

    .block-menu-container {
        display: none;
    }

    .img-height {
        height: 400px;
        width: 100%;
    }

    .block-menu-pizza,
    .block-menu-ua_ux_salads,
    .block-menu-desserts {
        background-position-y: 0;
        background-position-x: 0;
        background-size: 100%;
        margin-top: 0;
    }

    .logo-pizza {
        background: url("../img/logo_pizza.png") no-repeat;
        width: 104px;
        height: 83px;
        background-position-x: 0;
    }

    .navigation__text-navigation,
    .but-navicon {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .menu-nav {
        display: flex;
        background-color: #373C3F;
        flex-direction: row;
        width: auto;
        position: relative;
    }

    .menu-nav-link {
        text-transform: uppercase;
        border: 0 solid #373C3F;
        padding-bottom: 11px;
        padding-top: 11px;
        font-size: 15px;
        padding-left: 35px;
        color: #8B8E8F;

    }

}